<section class="method first-of-group" id="tracking-number">
    <div class="method-area">
        <div class="method-copy">
            <div class="method-copy-padding">
                <h1>Tracking Number</h1>
                <p>
                    <code>Tracking Number</code> objects represent members of your fleet's that operate vehicles and handle orders. 
                </p>
            </div>
        </div>
        <div class="method-example">
            <div class="method-example-part"></div>
            <div class="method-example-part"></div>
        </div>
    </div>
</section>

<section class="method" id="tracking_number_object">
    <div class="method-area">
        <div class="method-copy">
            <div class="method-copy-padding">
                <h1>The tracking-number object</h1>
            </div>
            <div class="method-list">
                <h5 class="method-list-title">
                    Attributes
                </h5>
                <ul class="method-list-group">
                    <li class="method-list-item" id="card_object-id">
                        <h3 class="method-list-item-label">
                            id
                            <span class="method-list-item-validation">string</span>
                        </h3>
                        <p class="method-list-item-description">
                            Unique identifier for the object.
                        </p>
                    </li>
                    <li class="method-list-item">
                        <h3 class="method-list-item-label">
                            tracking-numbers_license_number
                            <span class="method-list-item-validation">string</span>
                        </h3>
                        <p class="method-list-item-description">
                            The tracking-numbers operating license number, or gooverment issued identification number.
                        </p>
                    </li>
                    <li class="method-list-item">
                        <h3 class="method-list-item-label">
                            signup_token_used
                            <span class="method-list-item-validation">string</span>
                        </h3>
                        <p class="method-list-item-description">
                            The id of the <code>Tracking Number Token</code> object specified when the tracking-number registered.
                        </p>
                    </li>
                    <li class="method-list-item">
                        <h3 class="method-list-item-label">
                            latitude
                            <span class="method-list-item-validation">decimal</span>
                        </h3>
                        <p class="method-list-item-description">
                            The current real-time latitude coordinate of the tracking-number.
                        </p>
                    </li>
                    <li class="method-list-item">
                        <h3 class="method-list-item-label">
                            longitude
                            <span class="method-list-item-validation">decimal</span>
                        </h3>
                        <p class="method-list-item-description">
                            The current real-time longitude coordinate of the tracking-number.
                        </p>
                    </li>
                    <li class="method-list-item">
                        <h3 class="method-list-item-label">
                            heading
                            <span class="method-list-item-validation">decimal</span>
                        </h3>
                        <p class="method-list-item-description">
                            {{html-safe "The heading attribute denotes the direction of travel of the tracking-number and is specified in degrees, where 0&deg; &le; heading < 360&deg;, counting clockwise relative to the true north."}}
                        </p>
                    </li>
                    <li class="method-list-item">
                        <h3 class="method-list-item-label">
                            altitude
                            <span class="method-list-item-validation">decimal</span>
                        </h3>
                        <p class="method-list-item-description">
                            The altitude attribute denotes the height position of the tracking-number, 
                            specified in meters above the [<a href="http://earth-info.nga.mil/GandG/publications/tr8350.2/wgs84fin.pdf" target="wgs84">WGS84</a>] ellipsoid.
                        </p>
                    </li>
                    <li class="method-list-item">
                        <h3 class="method-list-item-label">
                            speed
                            <span class="method-list-item-validation">decimal</span>
                        </h3>
                        <p class="method-list-item-description">
                           The speed denotes the magnitude of the horizontal component of the tracking-number's current velocity 
                           and is specified in meters per second.
                        </p>
                    </li>
                    <li class="method-list-item">
                        <h3 class="method-list-item-label">
                            city
                            <span class="method-list-item-validation">string</span>
                        </h3>
                        <p class="method-list-item-description">
                           The current city the tracking-number is operating in.
                        </p>
                    </li>
                    <li class="method-list-item">
                        <h3 class="method-list-item-label">
                            country
                            <span class="method-list-item-validation">string</span>
                        </h3>
                        <p class="method-list-item-description">
                           The country the tracking-number is currently operating in.
                        </p>
                    </li>
                    <li class="method-list-item">
                        <h3 class="method-list-item-label">
                            currency
                            <span class="method-list-item-validation">string</span>
                        </h3>
                        <p class="method-list-item-description">
                           The 3-letter ISO code currency that the tracking-number uses, this is generally used for 
                           tracking-number's with electronic balances for "cash on delivery" jobs.
                        </p>
                    </li>
                    <li class="method-list-item">
                        <h3 class="method-list-item-label">
                            online
                            <span class="method-list-item-validation">boolean</span>
                        </h3>
                        <p class="method-list-item-description">
                           A boolean value that denotess whether the tracking-number is operating and able to accept jobs or not.
                        </p>
                    </li>
                    <li class="method-list-item">
                        <h3 class="method-list-item-label">
                            status
                            <span class="method-list-item-validation">string</span>
                        </h3>
                        <p class="method-list-item-description">
                           The status of the tracking-number's account, either "active" or "inactive".
                        </p>
                    </li>
                    <li class="method-list-item">
                        <h3 class="method-list-item-label">
                            created_at
                            <span class="method-list-item-validation">datetime</span>
                        </h3>
                        <p class="method-list-item-description">
                            Date and time the tracking-number was created.
                        </p>
                    </li>
                    <li class="method-list-item">
                        <h3 class="method-list-item-label">
                            updated_at
                            <span class="method-list-item-validation">datetime</span>
                        </h3>
                        <p class="method-list-item-description">
                            Date and time the tracking-number was last updated.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="method-example">
            <div class="method-example-part method-panel">
                <span class="snippet-title">Example Response</span>
                <CodeSnippet @name="tracking-number.json" />
            </div>
        </div>
    </div>
</section>

<section class="method" id="create_tracking_number">
    <div class="method-area">
        <div class="method-copy">
            <div class="method-copy-padding">
                <h1>Create a tracking-number</h1>
                <div class="method-list">
                    <h5 class="method-list-title">
                        Arguments
                    </h5>
                    <ul class="method-list-group">
                        <li class="method-list-item">
                            <h3 class="method-list-item-label">
                                name
                                <span class="required">required</span>
                            </h3>
                            <p class="method-list-item-description">
                                The name of the tracking-number.
                            </p>
                        </li>
                        <li class="method-list-item">
                            <h3 class="method-list-item-label">
                                title
                                <span class="method-list-item-label-details">optional</span>
                            </h3>
                            <p class="method-list-item-description">
                                The title or salutation of the tracking-number. For example: Cheif Technology Officer, Mr
                            </p>
                        </li>
                        <li class="method-list-item">
                            <h3 class="method-list-item-label">
                                email
                                <span class="method-list-item-label-details">optional</span>
                            </h3>
                            <p class="method-list-item-description">
                                The email of the tracking-number.
                            </p>
                        </li>
                        <li class="method-list-item">
                            <h3 class="method-list-item-label">
                                phone_number
                                <span class="method-list-item-label-details">optional</span>
                            </h3>
                            <p class="method-list-item-description">
                                The phone number of the tracking-number.
                            </p>
                        </li>
                        <li class="method-list-item">
                            <h3 class="method-list-item-label">
                                phone_country_code
                                <span class="method-list-item-label-details">optional</span>
                            </h3>
                            <p class="method-list-item-description">
                                The international calling code of the phone number of the tracking-number.
                            </p>
                        </li>
                        <li class="method-list-item">
                            <h3 class="method-list-item-label">
                                type
                                <span class="method-list-item-label-details">optional</span>
                            </h3>
                            <p class="method-list-item-description">
                                The type of tracking-number, for example: "customer", "assosciate"
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="method-example">
            <div class="method-example-part">
                <div class="method-example-declaration">
                    <pre class="language-none"><code class="language-none">POST https://api.fleetbase.io/v1/tracking-numbers</code></pre>
                </div>
            </div>
            <div class="method-example-part">
                <span class="snippet-title">Example Request</span>
                <SdkCodeSnippet @title="POST /v1/tracking-numbers" @name="create-tracking-number" @lang={{@lang}} @onLanguageChange={{@onLanguageChange}} />

            </div>
            <div class="method-example-part method-panel">
                <span class="snippet-title">Example Response</span>
                <CodeSnippet @name="tracking-number.json" />
            </div>
        </div>
    </div>
</section>

<section class="method" id="retrieve_tracking_number">
    <div class="method-area">
        <div class="method-copy">
            <div class="method-copy-padding">
                <h1>Retrieve a tracking-number</h1>
                <p>
                    This endpoint allows you to retrieve a tracking-number object to view it's details.
                </p>
                <div class="method-list">
                    <h5 class="method-list-title">
                        Arguments
                    </h5>
                    <ul class="method-list-group">
                        <li class="method-list-item">
                            <h3 class="method-list-item-label">
                                id
                                <span class="required">required</span>
                            </h3>
                            <p class="method-list-item-description">
                                The id of the tracking-number you want to retrieve.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="method-example">
            <div class="method-example-part">
                <div class="method-example-declaration">
                    <pre class="language-none"><code class="language-none">GET https://api.fleetbase.io/v1/tracking-numbers/{id}</code></pre>
                </div>
            </div>
            <div class="method-example-part">
                <span class="snippet-title">Example Request</span>
                <SdkCodeSnippet @title="GET /v1/tracking-numbers/{id}" @name="create-tracking-number" @lang={{@lang}} @onLanguageChange={{@onLanguageChange}} />
            </div>
            <div class="method-example-part method-panel">
                <span class="snippet-title">Example Response</span>
                <CodeSnippet @name="tracking-number.json" />
            </div>
        </div>
    </div>
</section>

<section class="method" id="update_tracking_number">
    <div class="method-area">
        <div class="method-copy">
            <div class="method-copy-padding">
                <h1>Update a tracking-number</h1>
                <p>
                    You can update all properties of the Tracking Number.
                </p>
                <div class="method-list">
                    <h5 class="method-list-title">
                        Arguments
                    </h5>
                    <ul class="method-list-group">
                        <li class="method-list-item">
                            <h3 class="method-list-item-label">
                                id
                                <span class="required">required</span>
                            </h3>
                            <p class="method-list-item-description">
                                The id of the tracking-number you want to update.
                            </p>
                        </li>
                        <li class="method-list-item">
                            <h3 class="method-list-item-label">
                                name
                                <span class="method-list-item-label-details">optional</span>
                            </h3>
                            <p class="method-list-item-description">
                                The name you want to update the tracking-number to.
                            </p>
                        </li>
                        <li class="method-list-item">
                            <h3 class="method-list-item-label">
                                title
                                <span class="method-list-item-label-details">optional</span>
                            </h3>
                            <p class="method-list-item-description">
                                The title or salutation you want to update the tracking-number to. 
                                For example: Cheif Technology Officer, Mr
                            </p>
                        </li>
                        <li class="method-list-item">
                            <h3 class="method-list-item-label">
                                email
                                <span class="method-list-item-label-details">optional</span>
                            </h3>
                            <p class="method-list-item-description">
                                The email to be updated on the tracking-number.
                            </p>
                        </li>
                        <li class="method-list-item">
                            <h3 class="method-list-item-label">
                                phone_number
                                <span class="method-list-item-label-details">optional</span>
                            </h3>
                            <p class="method-list-item-description">
                                The phone number to be updated on the tracking-number.
                            </p>
                        </li>
                        <li class="method-list-item">
                            <h3 class="method-list-item-label">
                                phone_country_code
                                <span class="method-list-item-label-details">optional</span>
                            </h3>
                            <p class="method-list-item-description">
                                The international calling code to update on the tracking-number.
                            </p>
                        </li>
                        <li class="method-list-item">
                            <h3 class="method-list-item-label">
                                type
                                <span class="method-list-item-label-details">optional</span>
                            </h3>
                            <p class="method-list-item-description">
                                The type of tracking-number to update to, for example: "customer", "assosciate".
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="method-example">
            <div class="method-example-part">
                <div class="method-example-declaration">
                    <pre class="language-none"><code class="language-none">PUT https://api.fleetbase.io/v1/tracking-numbers/{id}</code></pre>
                </div>
            </div>
            <div class="method-example-part">
                <span class="snippet-title">Example Request</span>
                <SdkCodeSnippet @title="PUT /v1/tracking-numbers/{id}" @name="update-tracking-number" @lang={{@lang}} @onLanguageChange={{@onLanguageChange}} />
            </div>
            <div class="method-example-part method-panel">
                <span class="snippet-title">Example Response</span>
                <CodeSnippet @name="tracking-number.json" />
            </div>
        </div>
    </div>
</section>

<section class="method" id="delete_tracking_number">
    <div class="method-area">
        <div class="method-copy">
            <div class="method-copy-padding">
                <h1>Delete a tracking-number</h1>
                <p>
                    Use this endpoint to delete a tracking-number.
                </p>
                <div class="method-list">
                    <h5 class="method-list-title">
                        Arguments
                    </h5>
                    <ul class="method-list-group">
                        <li class="method-list-item">
                            <h3 class="method-list-item-label">
                                id
                                <span class="required">required</span>
                            </h3>
                            <p class="method-list-item-description">
                                The id of the tracking-number you want to delete.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="method-example">
            <div class="method-example-part">
                <div class="method-example-declaration">
                    <pre class="language-none"><code class="language-none">DELETE https://api.fleetbase.io/v1/tracking-numbers/{id}</code></pre>
                </div>
            </div>
            <div class="method-example-part">
                <span class="snippet-title">Example Request</span>
                <SdkCodeSnippet @title="DELETE /v1/tracking-numbers/{id}" @name="delete-tracking-number" @lang={{@lang}} @onLanguageChange={{@onLanguageChange}} />
            </div>
            <div class="method-example-part method-panel">
                <span class="snippet-title">Example Response</span>
                <CodeSnippet @name="tracking-number.json" />
            </div>
        </div>
    </div>
</section>

<section class="method" id="list_tracking_numbers">
    <div class="method-area">
        <div class="method-copy">
            <div class="method-copy-padding">
                <h1>List all tracking-numbers</h1>
                <p>
                    This endpoint allows you to query tracking-numbers you have created, it also provides paginated results on all
                    the tracking-numbers in your Fleetbase.
                </p>
                <div class="method-list">
                    <h5 class="method-list-title">
                        Arguments
                    </h5>
                    <ul class="method-list-group">
                        <li class="method-list-item">
                            <h3 class="method-list-item-label">
                                query
                                <span class="method-list-item-label-details">optional</span>
                            </h3>
                            <p class="method-list-item-description">
                                This parameter allows you to filter the results by their name.
                            </p>
                        </li>
                        <li class="method-list-item">
                            <h3 class="method-list-item-label">
                                status
                                <span class="method-list-item-label-details">optional</span>
                            </h3>
                            <p class="method-list-item-description">
                               Filter the tracking-numbers by their status.
                            </p>
                        </li>
                        <li class="method-list-item">
                            <h3 class="method-list-item-label">
                                type
                                <span class="method-list-item-label-details">optional</span>
                            </h3>
                            <p class="method-list-item-description">
                               Filter tracking-numbers by their type.
                            </p>
                        </li>
                        <li class="method-list-item">
                            <h3 class="method-list-item-label">
                                limit
                                <span class="method-list-item-label-details">optional</span>
                            </h3>
                            <p class="method-list-item-description">
                               A cursor for use in pagination. A limit on the number of objects to be returned. Limit can range between 1 and 100, 
                                and the default is 10.
                            </p>
                        </li>
                        <li class="method-list-item">
                            <h3 class="method-list-item-label">
                                offset
                                <span class="method-list-item-label-details">optional</span>
                            </h3>
                            <p class="method-list-item-description">
                                A cursor for use in pagination. A offset for the results, 
                                when the offset is supplied the results will start from the offset.
                            </p>
                        </li>
                        <li class="method-list-item">
                            <h3 class="method-list-item-label">
                                order_by
                                <span class="method-list-item-label-details">optional</span>
                            </h3>
                            <p class="method-list-item-description">
                                You can order the results by any property of the <code>Tracking Number</code> object.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="method-example">
            <div class="method-example-part">
                <div class="method-example-declaration">
                    <pre class="language-none"><code class="language-none">GET https://api.fleetbase.io/v1/tracking-numbers</code></pre>
                </div>
            </div>
            <div class="method-example-part">
                <span class="snippet-title">Example Request</span>
                <SdkCodeSnippet @title="GET /v1/tracking-numbers" @name="query-tracking-number" @lang={{@lang}} @onLanguageChange={{@onLanguageChange}} />
            </div>
            <div class="method-example-part method-panel">
                <span class="snippet-title">Example Response</span>
                <CodeSnippet @name="tracking-number.json" />
            </div>
        </div>
    </div>
</section>