<section class="method first-of-group" id="zone">
    <div class="method-area">
        <div class="method-copy">
            <div class="method-copy-padding">
                <h1>Zones</h1>
                <p>
                    Zone represents a boundry within a Service Area to limit your fleet operataations to a specific area.
                </p>
                <p>
                    The Zone boundy can also be visually styled and represented to stand out in your service area views.
                </p>
            </div>
        </div>
        <div class="method-example">
            <div class="method-example-part"></div>
            <div class="method-example-part"></div>
        </div>
    </div>
</section>

<section class="method" id="zone_object">
    <div class="method-area">
        <div class="method-copy">
            <div class="method-copy-padding">
                <h1>The zone object</h1>
            </div>
            <div class="method-list">
                <h5 class="method-list-title">
                    Attributes
                </h5>
                <ul class="method-list-group">
                    <li class="method-list-item">
                        <h3 class="method-list-item-label">
                            id
                            <span class="method-list-item-validation">string</span>
                        </h3>
                        <p class="method-list-item-description">
                            Unique identifier for the object.
                        </p>
                    </li>
                    <li class="method-list-item">
                        <h3 class="method-list-item-label">
                            service_area
                            <span class="method-list-item-validation">string</span>
                        </h3>
                        <p class="method-list-item-description">
                            The id of the service area the zone belongs to.
                        </p>
                    </li>
                    <li class="method-list-item">
                        <h3 class="method-list-item-label">
                            name
                            <span class="method-list-item-validation">string</span>
                        </h3>
                        <p class="method-list-item-description">
                            The name of the zone.
                        </p>
                    </li>
                    <li class="method-list-item">
                        <h3 class="method-list-item-label">
                            description
                            <span class="method-list-item-validation">string</span>
                        </h3>
                        <p class="method-list-item-description">
                            A description, usually describing the purpose of the zone.
                        </p>
                    </li>
                    <li class="method-list-item">
                        <h3 class="method-list-item-label">
                            coordinates
                            <span class="method-list-item-validation">array</span>
                        </h3>
                        <p class="method-list-item-description">
                            The boundary coordinates of the zone.
                        </p>
                    </li>
                    <li class="method-list-item">
                        <h3 class="method-list-item-label">
                            color
                            <span class="method-list-item-validation">string</span>
                        </h3>
                        <p class="method-list-item-description">
                            The color of the zone when being displayed on a map. This is typically a hexedecimal color code, 
                            but not limited to rgba, hexa, rgb, hsl, hsla, or hsv color codes.
                        </p>
                    </li>
                    <li class="method-list-item">
                        <h3 class="method-list-item-label">
                            stroke_color
                            <span class="method-list-item-validation">string</span>
                        </h3>
                        <p class="method-list-item-description">
                            The outline color of the zone when being displayed on the map. This is typically a hexedecimal color code, 
                            but not limited to rgba, hexa, rgb, hsl, hsla, or hsv color codes.
                        </p>
                    </li>
                    <li class="method-list-item">
                        <h3 class="method-list-item-label">
                            status
                            <span class="method-list-item-validation">string</span>
                        </h3>
                        <p class="method-list-item-description">
                            The operational status of the zone. This can be "active" or "inactive".
                        </p>
                    </li>
                    <li class="method-list-item">
                        <h3 class="method-list-item-label">
                            created_at
                            <span class="method-list-item-validation">datetime</span>
                        </h3>
                        <p class="method-list-item-description">
                            Date and time the zone was created.
                        </p>
                    </li>
                    <li class="method-list-item">
                        <h3 class="method-list-item-label">
                            updated_at
                            <span class="method-list-item-validation">datetime</span>
                        </h3>
                        <p class="method-list-item-description">
                            Date and time the zone was last updated.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="method-example">
            <div class="method-example-part method-panel">
                <span class="snippet-title">Example Response</span>
                <CodeSnippet @name="zone.json" />
            </div>
        </div>
    </div>
</section>

<section class="method" id="create_zone">
    <div class="method-area">
        <div class="method-copy">
            <div class="method-copy-padding">
                <h1>Create a zone</h1>
                <p>
                    There is two primary ways to create a zone. The first method you can supply the boundary coordinates for the zone.
                    The second method is you cann supply center coordinates and a radius in meters, 
                    and Fleetbase will automatically create a zone around the center coordinates.
                </p>
                <div class="method-list">
                    <h5 class="method-list-title">
                        Arguments
                    </h5>
                    <ul class="method-list-group">
                        <li class="method-list-item">
                            <h3 class="method-list-item-label">
                                name
                                <span class="required">required</span>
                            </h3>
                            <p class="method-list-item-description">
                                The name of the zone.
                            </p>
                        </li>
                        <li class="method-list-item">
                            <h3 class="method-list-item-label">
                                boundary
                                <span class="required">required</span>
                            </h3>
                            <p class="method-list-item-description">
                                The boundary can either be an array of coordinates that make up the zone, or a key value array with three elements: "latitude", "longitude", and "radius".
                                Supplying the key value array creates a zone with a radius in meters around the supplied latitude and longitude.
                            </p>
                        </li>
                        <li class="method-list-item">
                            <h3 class="method-list-item-label">
                                service_area
                                <span class="required">required</span>
                            </h3>
                            <p class="method-list-item-description">
                                The ID of the service area the zone belongs to. The zone boundaries must be within the service area.
                            </p>
                        </li>
                        <li class="method-list-item">
                            <h3 class="method-list-item-label">
                                description
                                <span class="method-list-item-label-details">optional</span>
                            </h3>
                            <p class="method-list-item-description">
                                A description, usually describing the purpose of the zone.
                            </p>
                        </li>
                        <li class="method-list-item">
                            <h3 class="method-list-item-label">
                                color
                                <span class="method-list-item-label-details">optional</span>
                            </h3>
                            <p class="method-list-item-description">
                                The color of the zone when being displayed on a map. This is typically a hexedecimal color code, 
                                but not limited to rgba, hexa, rgb, hsl, hsla, or hsv color codes. If no color is supplied the color
                                will default to black.
                            </p>
                        </li>
                        <li class="method-list-item">
                            <h3 class="method-list-item-label">
                                stroke_color
                                <span class="method-list-item-label-details">optional</span>
                            </h3>
                            <p class="method-list-item-description">
                                The outline color of the zone when being displayed on the map. This is typically a hexedecimal color code, 
                                but not limited to rgba, hexa, rgb, hsl, hsla, or hsv color codes. If no stroke_color is supplied it will default to black.
                            </p>
                        </li>
                        <li class="method-list-item">
                            <h3 class="method-list-item-label">
                                status
                                <span class="method-list-item-label-details">optional</span>
                            </h3>
                            <p class="method-list-item-description">
                                The operational status of the zone. This can be "active" or "inactive".
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="method-example">
            <div class="method-example-part">
                <div class="method-example-declaration">
                    <pre class="language-none"><code class="language-none">POST https://api.fleetbase.io/v1/zones</code></pre>
                </div>
            </div>
            <div class="method-example-part">
                <span class="snippet-title">Example Request</span>
                <SdkCodeSnippet @title="POST /v1/zones" @name="create-zone" @lang={{@lang}} @onLanguageChange={{@onLanguageChange}} />
            </div>
            <div class="method-example-part method-panel">
                <span class="snippet-title">Example Response</span>
                <CodeSnippet @name="zone.json" />
            </div>
        </div>
    </div>
</section>

<section class="method" id="retrieve_zone">
    <div class="method-area">
        <div class="method-copy">
            <div class="method-copy-padding">
                <h1>Retrieve a zone</h1>
                <p>
                    This endpoint allows you to retrieve a zone object to view it's details.
                </p>
                <div class="method-list">
                    <h5 class="method-list-title">
                        Arguments
                    </h5>
                    <ul class="method-list-group">
                        <li class="method-list-item">
                            <h3 class="method-list-item-label">
                                id
                                <span class="required">required</span>
                            </h3>
                            <p class="method-list-item-description">
                                The id of the zone you want to retrieve.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="method-example">
            <div class="method-example-part">
                <div class="method-example-declaration">
                    <pre class="language-none"><code class="language-none">GET https://api.fleetbase.io/v1/zones/{id}</code></pre>
                </div>
            </div>
            <div class="method-example-part">
                <span class="snippet-title">Example Request</span>
                <SdkCodeSnippet @title="GET /v1/zones" @name="retrieve-zone" @lang={{@lang}} @onLanguageChange={{@onLanguageChange}} />
            </div>
            <div class="method-example-part method-panel">
                <span class="snippet-title">Example Response</span>
                <CodeSnippet @name="zone.json" />
            </div>
        </div>
    </div>
</section>

<section class="method" id="update_zone">
    <div class="method-area">
        <div class="method-copy">
            <div class="method-copy-padding">
                <h1>Update a zone</h1>
                <p>
                    You can update all properties of the Zone.
                </p>
                <div class="method-list">
                    <h5 class="method-list-title">
                        Arguments
                    </h5>
                    <ul class="method-list-group">
                        <li class="method-list-item">
                            <h3 class="method-list-item-label">
                                id
                                <span class="required">required</span>
                            </h3>
                            <p class="method-list-item-description">
                                The id of the zone you want to update.
                            </p>
                        </li>
                        <li class="method-list-item">
                            <h3 class="method-list-item-label">
                                name
                                <span class="method-list-item-label-details">optional</span>
                            </h3>
                            <p class="method-list-item-description">
                                The name you want to update the zone to.
                            </p>
                        </li>
                        <li class="method-list-item">
                            <h3 class="method-list-item-label">
                                description
                                <span class="method-list-item-label-details">optional</span>
                            </h3>
                            <p class="method-list-item-description">
                                The description you want to update the zone to.
                            </p>
                        </li>
                        <li class="method-list-item">
                            <h3 class="method-list-item-label">
                                boundary
                                <span class="method-list-item-label-details">optional</span>
                            </h3>
                            <p class="method-list-item-description">
                                The new boundary you want to update the zone to. The boundary can either be an array of coordinates that make up the zone, or a key value array with three elements: "latitude", "longitude", and "radius".
                                Supplying the key value array creates a zone with a radius in meters around the supplied latitude and longitude.
                            </p>
                        </li>
                        <li class="method-list-item">
                            <h3 class="method-list-item-label">
                                color
                                <span class="method-list-item-label-details">optional</span>
                            </h3>
                            <p class="method-list-item-description">
                                The color of the zone you want to update. This is typically a hexedecimal color code, 
                                but not limited to rgba, hexa, rgb, hsl, hsla, or hsv color codes.
                            </p>
                        </li>
                        <li class="method-list-item">
                            <h3 class="method-list-item-label">
                                stroke_color
                                <span class="method-list-item-label-details">optional</span>
                            </h3>
                            <p class="method-list-item-description">
                                The outline color of the zone you want to update to. This is typically a hexedecimal color code, 
                                but not limited to rgba, hexa, rgb, hsl, hsla, or hsv color codes.
                            </p>
                        </li>
                        <li class="method-list-item">
                            <h3 class="method-list-item-label">
                                status
                                <span class="method-list-item-label-details">optional</span>
                            </h3>
                            <p class="method-list-item-description">
                                The status you want to update the zone to.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="method-example">
            <div class="method-example-part">
                <div class="method-example-declaration">
                    <pre class="language-none"><code class="language-none">PUT https://api.fleetbase.io/v1/zones/{id}</code></pre>
                </div>
            </div>
            <div class="method-example-part">
                <span class="snippet-title">Example Request</span>
                <SdkCodeSnippet @title="PUT /v1/zones" @name="update-zone" @lang={{@lang}} @onLanguageChange={{@onLanguageChange}} />
            </div>
            <div class="method-example-part method-panel">
                <span class="snippet-title">Example Response</span>
                <CodeSnippet @name="zone-updated.json" />
            </div>
        </div>
    </div>
</section>

<section class="method" id="delete_zone">
    <div class="method-area">
        <div class="method-copy">
            <div class="method-copy-padding">
                <h1>Delete a zone</h1>
                <p>
                    Use this endpoint to delete a zone.
                </p>
                <div class="method-list">
                    <h5 class="method-list-title">
                        Arguments
                    </h5>
                    <ul class="method-list-group">
                        <li class="method-list-item">
                            <h3 class="method-list-item-label">
                                id
                                <span class="required">required</span>
                            </h3>
                            <p class="method-list-item-description">
                                The id of the zone you want to delete.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="method-example">
            <div class="method-example-part">
                <div class="method-example-declaration">
                    <pre class="language-none"><code class="language-none">DELETE https://api.fleetbase.io/v1/zones/{id}</code></pre>
                </div>
            </div>
            <div class="method-example-part">
                <span class="snippet-title">Example Request</span>
                <SdkCodeSnippet @title="DELETE /v1/zones" @name="delete-zone" @lang={{@lang}} @onLanguageChange={{@onLanguageChange}} />
            </div>
            <div class="method-example-part method-panel">
                <span class="snippet-title">Example Response</span>
                <CodeSnippet @name="zone-deleted.json" />
            </div>
        </div>
    </div>
</section>

<section class="method" id="list_zones">
    <div class="method-area">
        <div class="method-copy">
            <div class="method-copy-padding">
                <h1>List all zones</h1>
                <p>
                    This endpoint allows you to query zones you have created, it also provides paginated results on all
                    the zones in your Fleetbase.
                </p>
                <div class="method-list">
                    <h5 class="method-list-title">
                        Arguments
                    </h5>
                    <ul class="method-list-group">
                        <li class="method-list-item">
                            <h3 class="method-list-item-label">
                                query
                                <span class="method-list-item-label-details">optional</span>
                            </h3>
                            <p class="method-list-item-description">
                                This parameter allows you to filter the results by their name.
                            </p>
                        </li>
                        <li class="method-list-item">
                            <h3 class="method-list-item-label">
                                status
                                <span class="method-list-item-label-details">optional</span>
                            </h3>
                            <p class="method-list-item-description">
                               Filter the zones by their status.
                            </p>
                        </li>
                        <li class="method-list-item">
                            <h3 class="method-list-item-label">
                                service_area
                                <span class="method-list-item-label-details">optional</span>
                            </h3>
                            <p class="method-list-item-description">
                               Only return zones for the service area specified by the service area id.
                            </p>
                        </li>
                        <li class="method-list-item">
                            <h3 class="method-list-item-label">
                                limit
                                <span class="method-list-item-label-details">optional</span>
                            </h3>
                            <p class="method-list-item-description">
                               A cursor for use in pagination. A limit on the number of objects to be returned. Limit can range between 1 and 100, 
                                and the default is 10.
                            </p>
                        </li>
                        <li class="method-list-item">
                            <h3 class="method-list-item-label">
                                offset
                                <span class="method-list-item-label-details">optional</span>
                            </h3>
                            <p class="method-list-item-description">
                                A cursor for use in pagination. A offset for the results, 
                                when the offset is supplied the results will start from the offset.
                            </p>
                        </li>
                        <li class="method-list-item">
                            <h3 class="method-list-item-label">
                                order_by
                                <span class="method-list-item-label-details">optional</span>
                            </h3>
                            <p class="method-list-item-description">
                                You can order the results by any property of the <code>Zone</code> object.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="method-example">
            <div class="method-example-part">
                <div class="method-example-declaration">
                    <pre class="language-none"><code class="language-none">GET https://api.fleetbase.io/v1/zones</code></pre>
                </div>
            </div>
            <div class="method-example-part">
                <span class="snippet-title">Example Request</span>
                <SdkCodeSnippet @title="GET /v1/zones" @name="query-zone" @lang={{@lang}} @onLanguageChange={{@onLanguageChange}} />
            </div>
            <div class="method-example-part method-panel">
                <span class="snippet-title">Example Response</span>
                <CodeSnippet @name="zone-list.json" />
            </div>
        </div>
    </div>
</section>